body {
	width: 100%;
	overflow-x: hidden;
}


@media (max-width: 410px)
{

	header {
		width: 100%;
	}


	.bg-info img {
		width: 320px;
		margin-left:4px;
	}

	.bg-info h4 {
		text-align: center;
	}

	.bg-info p {
		text-align: center;
	}
}



	.bg-info p {
		text-align: center;
		font-size: 10px;
		
	}

	nav {
		width: auto;
		overflow: hidden;
	}







.bg-info h4 {
		margin-top: 95px;
		text-align: center;
	}

.bg-info p {
	color: white;
	text-align: center;
}

header {
	background-color: #b4f25c ;
}

.bg-info p {
	font-size: 15px;
}


@media (max-width: 319px) {
	
	body {
		overflow-x: hidden;
	}	

	.masthead {
		width: 100%;
	}

	.bg-info img {
		width: 250px !important;
	}
}


@media (max-width: 337px)
{
	.bg-info img {
		width: 240px !important;
	}
}

@media (min-width: 992px) { 


	nav {
	height: 90px !important;
}

}


.bg-info img {
	
	border-radius: 25px;
}